<section>
<div class="module-content">
    <div class="title-default">
        <h2><a href="#" style="text-decoration: none;"><b>Your one-stop platform for sports</b></a></h2>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div style="position: relative; text-align: left; color: #fff;">
                <img src="{{ rightSlot.slot_image }}" class="img-fluid " alt="Image 1">
                <div style="position: absolute; top: 70%; left: 36%; transform: translate(-50%, -50%);">
                     <h2>{{ rightSlot.heading }}</h2>
                    <p style="color: #fff;">
                        {{ rightSlot.slot_content }}
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div style="position: relative; text-align: left;color: #fff; ">
                <img src="{{ leftSlot.slot_image }}" class="img-fluid " alt="Image 2">
                <div style="position: absolute; top: 70%; left: 36%; transform: translate(-50%, -50%);">
                    <h2>{{ leftSlot.heading }}</h2>
                   <p style="color: #ffffff;">
                   {{ leftSlot.heading }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container text-align-center bg-grey">
  <div class="row">
    <div class="col-sm-4">
      <div class="col-sm d-flex align-items-center text-dark mb-3">
      <img src="../../assets/img/home.png" alt="Top Left Image" class="home"><h5><b>Play with players <br>around you</b></h5>
    </div>
    <!-- Right Side Column -->
    <div class="col-sm d-flex align-items-center text-dark mb-3">
      <img src="../../assets/img/home1.png" alt="Top Left Image" ><h5><b>Skill-up your game</b></h5>
    </div>
    </div>
    <div class="col-sm-4">
      <div class="col-sm d-flex align-items-center justify-content-center">
        <img src="../../assets/img/ifoto-ai_1705986845074.png"  style="width: 400px;height: 500px;">
      </div>
    </div>
    <div class="col-sm-4">
      <div class="col-sm d-flex align-items-center text-dark mb-3">
        <h5><b>Play with players <br>around you</b></h5><img src="../../assets/img/home2.png" alt="Top Left Image" >
      </div>
      <!-- Right Side Column -->
      <div class="col-sm d-flex align-items-center text-dark mb-3">
        <h5><b>Manage your sports <br>activities & groups</b></h5><img src="../../assets/img/home3.png" alt="Top Left Image" >
      </div>
    </div>
  </div>
</div>

  <div class="container mt-5">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-3 border-right  text-center py-4">
            <h4 class="text-2xl font-bold">2M+</h4>
            <h5 class="text-gray-800">Users</h5>
          </div>

          <div class="col-md-3 border-right  text-center py-4">
            <h4 class="text-2xl font-bold">50+</h4>
            <h5 class="text-gray-800">Sports</h5>
          </div>

          <div class="col-md-3 border-right  text-center py-4">
            <h4 class="text-2xl font-bold">6M+</h4>
            <h5 class="text-gray-800">Sports Activities Enabled</h5>
          </div>

          <div class="col-md-3 text-center py-4">
            <h4 class="text-2xl font-bold">4M+</h4>
            <h5 class="text-gray-800">Player Connections Enabled</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
