<footer class="clearfix" style="margin-top: 50px;">
		<div class="m-12">
			<div class="m-03">
				<div class="module-content ">
						<div  >
							<a  [routerLink]="['/']"  ><img class="log" src="../../assets/img/logo1.png" alt="Sport Template"></a>
						</div>

				</div>
			</div>
			<div class="m-03">
				<div class="module-content text-decoration-none">
					<!-- <h4 class="text-black text-align-center">Support</h4> -->
					<ul class="text-black">
						<li><a href="#">Terms of Service</a></li>
						<li><a href="#">Security</a></li>
						<li><a href="#">Privacy Policy</a></li>
						<li><a href="#">Cancellation Policy</a></li>
					</ul>
				</div>
			</div>
			<div class="m-03">
				<div class="module-content">
					<!-- <h4 class="text-black text-align-center">About</h4>					 -->
					<ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Careers</a></li>
                        <li><a href="#">Partner With Us</a></li>
                    </ul>
				</div>
			</div>
			<div class="m-03 bg-orange">
				<div class="module-content">
					<h4>Social</h4>
					<ul class="social ">
						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
						<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
